.buttonlogin {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #f08080;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .buttonlogin:hover {
    background-color: #e57373;
  }
  
  .buttonlogin:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }