.input-container {
    margin-bottom: 15px;
  }
  
  .input-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
  }
  
  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .input-field {
    width: 100%;
    padding: 10px 10px 10px 10px; /* 기본 패딩 */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
    padding-right: 40px; /* 오른쪽에 아이콘 공간 확보 */
  }
  
  .input-field:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .input-icon {
    position: absolute;
    right: 10px; /* 아이콘 위치 */
    font-size: 18px; /* 아이콘 크기 */
    color: #929294; /* 아이콘 색상 */
    cursor: pointer;
  }

  .email-input,
.email-domain-select {
  flex: 1; /* 같은 비율로 너비 차지 */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.custom-domain-input {
    margin-top: 10px;
    width: 100%; /* 부모 컨테이너에 맞춤 */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }