.formContainer {
    width: 900px;
    margin: auto;
    margin-top: 100px;
    font-family: Arial, sans-serif;
}

.formRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.formField {
    display: flex;
    flex: 1;
    margin-right: 10px;
}

.formContainer span {
    display: block;
    width: 100%; 
    margin-bottom: 5px;
}

.formContainer label {
    width: 120px;
    margin-right: 15px;
    background-color: #ff66a3;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 20px;
    margin-bottom: 5px;
    text-align: center;
}

.formContainer input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.formTextarea textarea {
    width: 100%;
    height: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    resize: none;
}

.formTextarea {
    margin-top: 20px;
}

.fileAdd {
    display: none;
}

.fileLabel {
    margin-left: 10px;
    all: unset !important;
    width: 0px;
    height: 0px;
}

.fileNameQna {
    gap: 15px;
    text-overflow: ellipsis;
    max-width: 150px;
    overflow: hidden;
    text-decoration: none;
}

.fileNameQna:hover {
    text-decoration: underline;
    font-weight: bold;
}

.fileImg {
    width: 30px;
    height: 30px;
}

.qnaAdd_btn {
    display: flex;
    justify-content: flex-end; /* 버튼을 오른쪽으로 정렬 */
    gap: 10px; /* 버튼 간 간격 */
    margin-top: 20px;
    padding-right: 20px; /* 오른쪽 여백 추가 */
}

.qnaAdd_btn button {
    color: white;
    width: 80px;
    height: 40px;
    background-color: #ff66a3;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
}

.qnaAdd_btn button:hover {
    background-color: #ff3385;
}

.deleteBtn {
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    background-color: #dc3545;
    color: white;
    width: 50px;
    height: 30px;
    margin-left: 300px;
}

.deleteBtn:hover {
    background-color: #a71d2a;
}