<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.touchpoint.kh.qna.model.dao.QnaMapper">
	
   <select id="qnaFindAll" resultType="com.touchpoint.kh.qna.model.vo.QnaDto" >
   		SELECT 
			    QNA_NO,
			    QNA_TITLE,
			    USER_ID,
			    QNA_DATE,
			    STATUS
		  FROM
			    QNA 
	  ORDER BY
			    QNA_NO DESC
   </select>

   <select id="qnaDetail" resultMap="QnaResultMap">
		SELECT
			    Q.USER_ID,
			    Q.PHONE_NO,
			    Q.QNA_DATE,
			    Q.QNA_TITLE,
			    Q.QNA_CONTENT,
			    Q.QNA_NO,
			    F.FILE_NO,
			    F.ORIGIN_NAME,
			    F.CHANGE_NAME,
			    F.PATH
		  FROM
			    QNA Q
	 LEFT JOIN
			    FILE_ADD F
			ON
			    Q.QNA_NO = F.QNA_NO
		 WHERE
			    Q.QNA_NO = #{qnaNo}
	       AND
	       		(F.ANSWER_NO IS NULL OR F.ANSWER_NO = 0)
   </select>
   
   <select id="answerFind" resultMap="AnswerResultMap">
	   	SELECT
	            A.ANSWER_NO,
	            A.ANSWER_TITLE,
	            A.ANSWER_CONTENT,
	            A.ANSWER_DATE,
	            A.QNA_NO,
	            F.FILE_NO,
	            F.ORIGIN_NAME,
	            F.CHANGE_NAME,
	            F.PATH
	      FROM        
	            ANSWER A
	 LEFT JOIN        
	            FILE_ADD F
	        ON
	            A.ANSWER_NO = F.ANSWER_NO
         WHERE
         		A.QNA_NO = #{qnaNo}
   </select>
   
   <insert id="insQna" parameterType="com.touchpoint.kh.qna.model.vo.QnaDto">
   		INSERT
		    INTO QNA (
		                QNA_NO,
		                QNA_TITLE,
		                QNA_CONTENT,
		                QNA_DATE,
		                USER_ID,
		                PHONE_NO
	            )
	          VALUES (
		                QNA_SEQ.NEXTVAL,
		                #{qnaTitle},
				        #{qnaContent},
				        SYSDATE,
				        #{userId},
				        #{phoneNo}
		        )    
   </insert>
   
   <insert id="insAnswer" parameterType="com.touchpoint.kh.qna.model.vo.AnswerDto">
   		INSERT
			INTO ANSWER (
							ANSWER_NO,
							ANSWER_TITLE,
							ANSWER_CONTENT,
							ANSWER_DATE,
							QNA_NO		
			)
				 VALUES	(
							ANSWER_SEQ.NEXTVAL,
							#{answerTitle},
					        #{answerContent},
					        SYSDATE,
					        #{qnaNo}
				 )
   </insert>
   
   <insert id="insQnaFile" parameterType="com.touchpoint.kh.qna.model.vo.FileDto">
   		INSERT
		    INTO FILE_ADD (
			                FILE_NO,
			                ORIGIN_NAME,
			                CHANGE_NAME,
			                QNA_NO,
			                PATH
            )
		           VALUES (
			                FILE_SEQ.NEXTVAL,
			                #{originName},
			                #{changeName},
			                QNA_SEQ.CURRVAL,
			                #{path}
			        )    
   </insert>
   
   <insert id="insAnswerFile" parameterType="com.touchpoint.kh.qna.model.vo.FileDto">
   		INSERT
		    INTO FILE_ADD (
			                FILE_NO,
			                ORIGIN_NAME,
			                CHANGE_NAME,
			                QNA_NO,
			                ANSWER_NO,
			                PATH
            )
		           VALUES (
			                FILE_SEQ.NEXTVAL,
			                #{originName},
			                #{changeName},
			                #{qnaNo},
			                ANSWER_SEQ.CURRVAL,
			                #{path}
			        )    
   </insert>
   
   <insert id="insNewFile" parameterType="com.touchpoint.kh.qna.model.vo.FileDto">
   		INSERT
		    INTO FILE_ADD (
			                FILE_NO,
			                ORIGIN_NAME,
			                CHANGE_NAME,
			                QNA_NO,
			                ANSWER_NO,
			                PATH
            )
		           VALUES (
			                FILE_SEQ.NEXTVAL,
			                #{originName},
			                #{changeName},
			                #{qnaNo},
			                #{answerNo},
			                #{path}
			        ) 
   </insert>
   
   <update id="updateStatus" parameterType="com.touchpoint.kh.qna.model.vo.QnaDto">
	    UPDATE 
	    		QNA
	       SET 
        		STATUS = '답변완료'
	     WHERE 
	     		QNA_NO = #{qnaNo}
   </update>
  
   <update id="updateQna" parameterType="com.touchpoint.kh.qna.model.vo.QnaDto">
   		UPDATE
        		QNA
		   SET    
		        QNA_TITLE = #{qnaTitle},
		        QNA_CONTENT = #{qnaContent},
		        QNA_DATE = SYSDATE
		 WHERE
		        QNA_NO = #{qnaNo}
   </update>
   
   <update id="updateAnswer" parameterType="com.touchpoint.kh.qna.model.vo.AnswerDto">
   		UPDATE
   				ANSWER
		   SET
		   		ANSWER_TITLE = #{answerTitle},
		   		ANSWER_CONTENT = #{answerContent},
		   		ANSWER_DATE = SYSDATE
   		 WHERE
   		 		ANSWER_NO = #{answerNo}
   </update>
   
   <delete id="deleteFile">
   		DELETE
		  FROM
   				FILE_ADD
		 WHERE
		 		FILE_NO = #{fileNo}
   </delete>
   
   <delete id="deleteQna">
   		DELETE
   		  FROM
   		  		QNA
  		 WHERE
  		 		QNA_NO = #{qnaNo}
   </delete>
   
   <delete id="deleteAnswer">
   		DELETE
   		  FROM
   		  		ANSWER
  		 WHERE
  		 		QNA_NO = #{qnaNo}
   </delete>
   
   <resultMap id="AnswerResultMap" type="com.touchpoint.kh.qna.model.vo.AnswerDto">
	    <id property="answerNo" column="ANSWER_NO"/>
	    <result property="answerTitle" column="ANSWER_TITLE"/>
	    <result property="answerContent" column="ANSWER_CONTENT"/>
	    <result property="answerDate" column="ANSWER_DATE"/>
	    <result property="qnaNo" column="QNA_NO"/>
	
	    <collection property="files" ofType="com.touchpoint.kh.qna.model.vo.FileDto">
		    <result property="fileNo" column="FILE_NO"/>
		    <result property="qnaNo" column="QNA_NO"/>
		    <result property="answerNo" column="ANSWER_NO"/>
	        <result property="originName" column="ORIGIN_NAME"/>
	        <result property="changeName" column="CHANGE_NAME"/>
	        <result property="path" column="PATH"/>
	    </collection>
	</resultMap>
   
   <resultMap id="QnaResultMap" type="com.touchpoint.kh.qna.model.vo.QnaDto">
	    <id property="qnaNo" column="QNA_NO" />
	    <result property="qnaTitle" column="QNA_TITLE" />
	    <result property="qnaContent" column="QNA_CONTENT" />
	    <result property="qnaDate" column="QNA_DATE" />
	    <result property="userId" column="USER_ID" />
	    <result property="phoneNo" column="PHONE_NO" />
	
	    <collection property="files" ofType="com.touchpoint.kh.qna.model.vo.FileDto">
	        <result property="fileNo" column="FILE_NO"/>
	        <result property="qnaNo" column="QNA_NO"/>
	        <result property="originName" column="ORIGIN_NAME"/>
	        <result property="changeName" column="CHANGE_NAME"/>
	        <result property="path" column="PATH"/>
	    </collection>
	</resultMap>
   
</mapper>
