<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.touchpoint.kh.qna.model.dao.QnaMapper">
	
   <select id="qnaFindAll">
   		SELECT 
			    Q.QNA_NO,
			    Q.QNA_TITLE,
			    Q.USER_ID,
			    Q.QNA_DATE,
			    A.ANSWER_STATUS
		  FROM
			    QNA Q
	 LEFT JOIN
			    ANSWER A
			ON
			    Q.QNA_NO = A.QNA_NO
	  ORDER BY
			    Q.QNA_NO DESC;
   </select>

   <select id="qnaDetail">
		SELECT
			    U.USER_ID,
			    U.PHONE_NO,
			    Q.QNA_DATE,
			    Q.QNA_TITLE,
			    Q.QNA_CONTENT,
			    Q_QNA_NO,
			    F.ORIGIN_NAME,
			    F.CHANGE_NAME,
			    F.PATH
		  FROM
			    MEMBER U
	INNER JOIN    
			    QNA Q
			ON
			    U.USER_ID = Q.USER_ID
	INNER JOIN
			    FILE_ADD F
			ON
			    Q.QNA_NO = F.QNA_NO
		 WHERE
			    Q.QNA_NO = #{QNA_NO};
   </select>
   
   <select id="answerFind">
	   	SELECT
	            A.ANSWER_NO,
	            A.ANSWER_TITLE,
	            A.ANSWER_CONTENT,
	            A.ANSWER_DATE,
	            A.QNA_NO,
	            F.ORIGIN_NAME,
	            F.CHANGE_NAME,
	            F.PATH
	    FROM        
	            ANSWER A
	INNER JOIN        
	            FILE_ADD F
	        ON
	            A.ANSWER_NO = F.ANSWER_NO;
         WHERE
         		A.QNA_NO = #{QNA_NO};
   </select>
   
   <insert id="insQna">
   		INSERT
		    INTO QNA (
		                QNA_NO,
		                QNA_TITLE,
		                QNA_CONTENT,
		                QNA_DATE,
		                USER_ID,
		                PHONE_NO
	            )
	          VALUES (
		                QNA_SEQ.NEXTVAL,
		                #{QNA_TITLE},
		                #{QNA_CONTENT},
		                SYSDATE,
		                #{USER_ID},
		                #{PHONE_NO}
		        )    
   </insert>
   
   <insert id="insFile">
   		INSERT
		    INTO FILE_ADD (
			                FILE_NO,
			                ORIGIN_NAME,
			                CHANGE_NAME,
			                QNA_NO,
			                ANSWER_NO
			                PATH
	                )
		           VALUES (
			                FILE_SEQ.NEXTVAL,
			                #{ORIGIN_NAME},
			                #{CHANGE_NAME},
			                #{QNA_NO}
			                #{ANSWER_NO}
			                #{PATH}
			        )    
   </insert>
   
   
</mapper>
