<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.touchpoint.kh.history.model.dao.SetupHistoryMapper">

    <!-- 설치사례와 메인이미지 조회 -->
    <select id="selectSetupHistory" resultMap="SetupHistoryResultMap">
        SELECT 
            h.HISTORY_NO,
            h.STORE_NAME,
            h.STORE_ADDRESS,
            h.MODEL_NAME,
            h.HISTORY_CONTENT,
            h.HISTORY_DATE,
            h.USER_ID,
            i.HISTORY_IMAGE_NAME AS IMAGE_NAME
        FROM 
            TB_SETUP_HISTORY h
        LEFT JOIN 
            TB_HISTORY_IMAGE i
        ON 
            h.HISTORY_NO = i.HISTORY_NO
        WHERE 
            i.HISTORY_IMAGER_ORDER = 1
        ORDER BY 
            h.HISTORY_DATE DESC
    </select>

    <resultMap id="SetupHistoryResultMap" type="com.touchpoint.kh.history.model.vo.SetupHistory">
        <id property="historyNo" column="HISTORY_NO" />
        <result property="storeName" column="STORE_NAME" />
        <result property="storeAddress" column="STORE_ADDRESS" />
        <result property="modelName" column="MODEL_NAME" />
        <result property="historyContent" column="HISTORY_CONTENT" />
        <result property="historyDate" column="HISTORY_DATE" />
        <result property="userId" column="USER_ID" />
        <result property="mainImage" column="HISTORY_IMAGE_NAME" />
    </resultMap>
	
	 <insert id="insertSetupHistory" parameterType="SetupHistory" useGeneratedKeys="false">
    <!-- Insert 쿼리 -->
    INSERT INTO TB_SETUP_HISTORY (
        HISTORY_NO,
        STORE_NAME,
        STORE_ADDRESS,
        MODEL_NAME,
        HISTORY_CONTENT,
        USER_ID
    ) VALUES (
        SEQ_HISTORY.NEXTVAL, 
        #{storeName}, 
        #{storeAddress}, 
        #{modelName}, 
        #{historyContent}, 
        #{userId}
    )
    <!-- 시퀀스 생성된 ID 가져오기 -->
    <selectKey resultType="int" keyProperty="historyNo" order="AFTER">
        SELECT SEQ_HISTORY_NO.CURRVAL FROM DUAL
    </selectKey>
</insert>

    <!-- 3. 설치사례 이미지 추가 -->
    <insert id="insertHistoryImage">
        INSERT INTO TB_HISTORY_IMAGES (
            HISTORY_NO, 
            HISTORY_IMAGE_NAME, 
            HISTORY_IMAGE_ORDER
        ) VALUES (
            #{historyNo},
            #{historyImageName},
            #{historyImageOrder}
        )
    </insert>

</mapper>
